# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.slo
*.lo
*.o
*.obj
.vs

# Compiled Dynamic libs (Shared Objects)
*.so
*.dylib
*.dll

# Compiled executables
*.exe
*.out
*.app

# Output directories
/dist/
out/

# Input directories
files/